<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>NSCameraUsageDescription</key>
  <string>Nonza Meet needs camera access for video calls.</string>
  <key>NSCameraUseContinuityCameraDeviceType</key>
  <string>Continuity Cameras support for video calls.</string>
  <key>NSMicrophoneUsageDescription</key>
  <string>Nonza Meet needs microphone access for audio calls.</string>
  <key>NSScreenCaptureDescription</key>
  <string>Nonza Meet needs screen recording access when you share your screen.</string>
  <key>NSInputMonitoringUsageDescription</key>
  <string>Nonza Meet needs Input Monitoring to use mouse side buttons as global shortcuts.</string>
</dict>
</plist>
